.emptyBasket, .top {
	display: flex;
	align-items: center;
}

.emptyBasket {
	height: calc(100vh - 321px);
	flex-direction: column;
	justify-content: center;
}

.top {
	margin-bottom: 15px;
	gap: 10px;

	h3 {
		font-weight: 700;
		font-size: var(--font-size-xxxl);
	}
}

.textContent {
	max-width: 550px;
	margin-bottom: 60px;
	font-size: var(--font-size-m);
	line-height: 26px;
	color: var(--subtitle-color-main);
	text-align: center;
}

.image {
	margin-bottom: 70px;
	pointer-events: none;
}