.allPizzas {

	h2 {
		margin-bottom: 35px;
		font-weight: 700;
		font-size: var(--font-size-xxxl);
	}
}

.top {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pizzasWrapper {
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	align-items: center;
	justify-content: center;
	column-gap: 35px;
	row-gap: 50px;
}

.nothing {
	height: calc(100vh - 490px);
	margin-bottom: auto;
	text-align: center;
	font-weight: 600;
	font-size: var(--font-size-xxl);
	color: var(--subtitle-color-main);
}