.allPizzas {

	h2 {
		margin-bottom: 35px;
		font-weight: 700;
		font-size: var(--font-size-xxxl);
	}
}

.pizzasWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
	align-items: center;
	justify-content: center;
	gap: 35px;
}