.qtyBlock img,
.delete {
	cursor: pointer;
}

.cardWrapper {
	width: 100%;
	height: 80px;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: 100px 1fr 100px 1fr 40px;
}

.pizzaImage {
	width: 80px;
	height: 80px;
}

.text p,
.qtyBlock p,
.price, {
	font-weight: 700;
	font-size: var(--font-size-xl);
}

.text {
	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		font-size: var(--font-size-m);
		color: var(--subtitle-color-main);
	}
}

.qtyBlock {
	display: flex;
	align-items: center;
	gap: 10px;
}

.price {
	justify-self: center;
}

.delete {
	justify-self: end;
}