.categories {
	@media (max-width: 630px) {
		width: 100%;
		padding-bottom: 10px;
		overflow-x: scroll;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	li {
		padding: 10px 15px;
		font-weight: 700;
		font-size: var(--font-size-s);
		white-space: nowrap;
		border-radius: 30px;
		background-color: #f9f9f9;
		cursor: pointer;
	}

	li.active {
		color: #fff;
		background-color: var(--font-dark-main);
	}

}