.btn {
	position: relative;
	width: 210px;
	height: 45px;
	color: #fff;
	background-color: var(--font-dark-main);
	border-radius: 30px;
	overflow: hidden;
	font-weight: 700;
	font-size: var(--font-size-s);
	transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out, border 0.2s linear;

	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
			color: var(--font-dark-main);
			border: 1px solid var(--font-dark-main);
		}
	}
}